*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-links{
  list-style: none;
  float:right;
  margin-right: 30px;
}
.nav{
    display: inline-block;
}
.nav-text{
    text-decoration: none;
    line-height: 60px;
    margin: 0 5px;
    width:100%;
    font-weight:bold;
    color: gainsboro;
    font-family:  "Gill Sans", sans-serif;
}
.nav-text:hover{
  transition: 300ms;
  text-shadow: 1px 0px 10px white;
}
.active > a{
  text-shadow: 1px 0px 10px white;
}
.logo{
  margin-left: 75px;
  margin-top: 10px;
  width: 60px;
  height: 50px;
}
.info{
  margin: 100px 50px;
  text-align: center;
  font-family: sans-serif;
  
}

.info h1{
  color:gainsboro;
  stroke: black;
}

.button {
  background-color: #c38e498a;
  border: none;
  color: lightgrey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

.button:hover{
  transform: translateY(-5px);
}
.info h1{
  font-size: 75px;
}

.info p{
   color: white;
}

.info h3{
  font-family: sans-serif;
  color: white;
  margin-top: 100px;
}
body, html{
  height: 100%;
}
.form{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  background-color: darkgray;
}
label{
  color:black;
  text-align: left;
  font-size: 20px;
}
input[type=text]{
  width: 100%;
  padding: 10px 0px 10px;
  margin: 15px;
  box-sizing: content-box;
}
textarea{
  width: 100%;
  padding: 10px 0px 10px;
  margin: 15px;
  font-family: sans-serif;
}
.send{
  background-color: slategray;
  margin-left: 250px;
  margin-bottom: 10px;
  width: 75px;
}
.contact{
  color:white;
  background-color: #251607;
  width: 50%;
  justify-content: space-between;
  text-align: center;
}
.form1{
 margin-left: 150px;
}
.form1 p{
  font-size: 40px;
}
.location-icon{
  padding: 40px 10px 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.contact-icon{
  padding: 40px 10px 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.contact-text{
  color: gainsboro;
}
.mail-icon{
  padding: 40px 10px 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.insta-icon{
  padding: 40px 10px 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.pattern{
  width: 250px;
  height: 200px;
  margin-top: 10px;
}
body{
  background-image: url(background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}
.work-align{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 100%;
  padding: 35px 10%;
  text-align: center;
}
main.row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.col header.title{
  font-family: sans-serif;
  color: gainsboro;
  padding: 0px 0px 20px 30px;
}
.col .contents{
  padding-bottom: 30px;
  color: gainsboro;
}
.col .contents .box{
  position: relative;
  padding:30px 5px 30px 5px;
  border: 2px solid black;
  background-color:#303030;
  cursor: pointer;
  transition: all 0.3s;
}
.col .contents .box:hover{
  border: 3px solid gainsboro;
}
@media(max-width: 776px){
main.row{
  grid-template-columns: 1fr;
}    
.form{
  display: flex;
}
.img-container{
  display: flex;
}
.info h1{
  font-size: 50px;

}
.nav-links ul li{
  display: block;
}
.nav-links{
  position: absolute;
  background:#3A3B3C;
  height: 100vh;
  width: 300px;
  top: 0;
  right: -30px;
  text-align: left;
  z-index: 2;
  
}
html body{
  overflow-x: hidden;
}
}
@media (max-width:646px) {
  .form{
    display: flex;
    margin-top: 50px;
    flex-flow: column;
    align-items: center;
  }
  .contact{
    
    width: 100%;
    
  }
  
}
/* portfolio */
#images{
  display: flex;
  flex-direction: column;
}
h1{
  color: gainsboro;
  text-align: center;
  margin-bottom: 10px;
  font-family: sans-serif;
}
.img-container{
display: grid;
margin-top: 30px;
width: 100vw;
justify-content: center;
box-sizing: border-box;
align-items: center;
grid-template-columns: repeat(auto-fill,minmax(300px,300px));
column-gap: 15px;
row-gap: 20px;
padding: 10px 10px;
background-color: #303030;

}
.img-container img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  margin-top: 20px ;
}
.img-container img:hover{
  border: 3px solid gainsboro;
}